.Benefits {
    padding-top: 90px;
    padding-bottom: 60px;
}

.Benefits__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 42px;
    line-height: 1.23;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 70px;
}

.Benefits__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.Benefits__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    text-align: left;
    max-width: 360px;
    margin-right: 40px;
    margin-bottom: 50px;
}
.Benefits__item_logo {
    text-align: left;
    height: auto;
    max-width: 100%;
}
.Benefits__item_lg {
    height: auto;
    width: 55px;
}
.Benefits__item_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 20px;
    line-height: 1.35;
    margin-top: 23px;
}
.Benefits__item_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 16px;
    line-height: 1.55;
    margin-top: 20px;
}
.Benefits__buttons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Benefits__footer {
    background-color: black;
    color: grey;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
    margin-top: 50px;
}